@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #ffffff;
  --card-bg: #1e1e1e;
  --input-bg: #2a2a2a;
  --border-color: #2a2a2a;
  --border-header: #222729;
  --button-primary: #22c55e;
  --button-bg-green: #1B3F1B;
  --button-text-green: #00F700;
  --text-secondary: #9ca3af;
  --header-height: 66px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-input-bg: var(--input-bg);
  --color-border: var(--border-color);
  --color-border-header: var(--border-header);
  --color-button-primary: var(--button-primary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
