@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #ffffff;
  --card-bg: #1e1e1e;
  --input-bg: #2a2a2a;
  --border-color: #2a2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
